* {
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
*::-moz-selection {
  background-color: #1EACC7;
}
*::selection {
  background-color: #1EACC7;
}

header {
  position: relative;
}

nav {
  position: fixed;
  width: 100%;
  min-height: 50px;
  background: #212121;
  z-index: 3;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu_item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-right: 2px dotted white;
  padding: 0 23px;
  text-align: center;
}
.menu_item:last-child {
  border-right: none;
}
.menu_link {
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 19px 0;
  height: 84px;
  z-index: 2;
}
.subheader_logo {
  max-width: 100%;
}
.subheader_official {
  /* margin-top: 3px; */
  font-weight: 100;
  font-size: 13px;
  color: #fff;
  opacity: 0.5;
}
.subheader_call {
  margin-top: 4px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #fff;
}
.subheader_phone {
  display: block;
  margin-top: 12px;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  line-height: 12px;
  white-space: nowrap;
  text-align: right;
  text-decoration: none;
}
.subheader_btn {
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4ce2ff));
  background: linear-gradient(0deg, #1EACC7 0%, #4ce2ff 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  border: none;
  border-radius: 4px;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.promo {
  background: url("/src/img/uber_bg.png") center center/cover no-repeat;
  min-height: 800px;
  padding: 150px 0 135px 0;
}
.promo_header {
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}
.promo_subheader {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  margin-top: 22px;
}
.promo_descr {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  margin: 0;
  margin-top: 25px;
}
.promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 115px;
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4ce2ff));
  background: linear-gradient(0deg, #1EACC7 0%, #4ce2ff 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.reason {
  margin-bottom: 64px;
}
.reason_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 26px;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}
.reason_descr {
  width: 370px;
  min-height: 80px;
  margin-left: 25px;
}
.reason_descr h3 {
  font-weight: 400;
  font-size: 17px;
  color: #1EACC7;
}
.reason_img_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 116px;
  height: 116px;
  border-radius: 100%;
  background-color: #1EACC7;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto 0 auto;
  width: 115px;
  height: 27px;
  background: #000;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #fff;
}
.label_bg_black {
  background: #fff;
  color: #000;
}

.title {
  margin-top: 33px;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}
.title_bg_black {
  color: #fff;
}

.subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #222222;
}
.subtitle_bg_black {
  color: #fff;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 5px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 19px auto 0 auto;
  padding: 92px 0 0 0;
}
.mobile_item_bg1 {
  background: url("../img/Card1.png") center center/cover no-repeat;
}
.mobile_item_bg2 {
  background: url("../img/Card2.png") center center/cover no-repeat;
}
.mobile_item_bg3 {
  background: url("../img/Card3.png") center center/cover no-repeat;
}
.mobile_item_bg4 {
  background: url("../img/Card4.png") center center/cover no-repeat;
}
.mobile_item_bg5 {
  background: url("../img/Card5.png") center center/cover no-repeat;
}
.mobile_item_bg6 {
  background: url("../img/Card6.png") center center/cover no-repeat;
}
.mobile_item_subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  bottom: 32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  padding: 8px;
  width: 29px;
  height: 29px;
  background: black;
  border-radius: 100%;
  cursor: pointer;
}
.mobile_item_plus::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.mobile_item_plus::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2px;
  height: 14px;
  background-color: #1EACC7;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.mobile_item_plus:hover::before, .mobile_item_plus:hover::after {
  background-color: #FF5656;
}

.choice {
  background: url("../img/Choise_bg_group.png") center center/cover no-repeat;
  min-height: 900px;
  padding: 34px 0 34px 0;
}
.choice_auto {
  display: block;
  margin: 54px auto 0 auto;
}
.choice_descr {
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.require {
  padding: 68px 0 84px 0;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0;
}
.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 20px;
}
.require_list li {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 5px;
}
.require_list li::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 2px;
  -webkit-transform: translateX(-5px, -1px);
          transform: translateX(-5px, -1px);
  width: 21px;
  height: 20px;
  background: url("../icons/done_blue.svg") center center/cover no-repeat;
}
.require_descr {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1ca8c3;
}
.require .warning .require_title {
  color: #FF5656;
}
.require .warning .require_list li::before {
  background: url("../icons/done_red.svg") center center/cover no-repeat;
}

.world {
  height: 716px;
  padding: 50px 0;
  background: url("../img/world_bg.jpg") center center/cover no-repeat;
}
.world_content {
  height: 616px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.world_link {
  font-size: 15px;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
}
.world_link:hover {
  color: #20cfee;
}

.divider {
  width: 301px;
  height: 7px;
  background-color: #1FBAD6;
  margin: 0 auto;
}

.footer {
  height: 155px;
  padding: 11px 23px;
}
.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 31px 0;
  list-style-type: none;
}
.footer_wrapper ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
.footer_wrapper li {
  list-style: none;
}
.footer_wrapper a {
  text-decoration: none;
}
.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.footer_social_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  background: #000;
  border-radius: 100%;
  text-decoration: none;
}
.footer_social_icon i {
  color: #fff;
}
.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  min-width: 500px;
}
.footer_menu_block {
  width: 100%;
}
.footer_menu_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer_menu_main_item {
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  color: #070716;
}
.footer_menu_submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer_menu_submenu_item {
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
}
.footer_menu_lang {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  color: #1FBAD6;
}
.footer_app_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.footer_app_item {
  list-style: none;
  width: 94px;
  height: 27px;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding: 0 16px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
    margin-top: 35px;
  }
  .reason_descr {
    width: 315px;
  }
  .mobile_item {
    width: 300px;
  }
  .mobile_item_subtitle {
    font-size: 21px;
  }
  .world {
    height: 616px;
  }
  .world_content {
    height: 556px;
  }
  .require {
    padding: 45px 0 50px 0;
  }
  .divider {
    height: 5px;
  }
  .footer_wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 19px 0;
  }
  .footer_app_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 991px) {
  .menu_item {
    padding: 0 4px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 12px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    width: 100%;
    height: 40px;
    margin-top: 5px;
  }
  .promo {
    min-height: 700px;
    padding-bottom: 68px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 25px;
  }
  .promo_descr {
    font-size: 13px;
    line-height: 22px;
  }
  .promo_btn {
    margin-top: 60px;
  }
  .title {
    font-size: 35px;
  }
  .reason {
    padding: 25px 0 64px 0;
    margin: 0;
  }
  .reason_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 13px;
  }
  .reason_descr {
    margin: 0;
  }
  .mobile {
    padding: 25px 0 0 0;
  }
  .mobile_item {
    width: 230px;
  }
  .choice {
    min-height: 800px;
  }
  .choice_auto {
    width: 100%;
  }
  .require {
    padding: 25px 0 42px 0;
    margin: 26px 0;
  }
  .footer_menu {
    min-width: 400px;
  }
  .footer_app_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    padding: 0;
    border: none;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    cursor: pointer;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-top: 5px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin: -2px;
  }
  .hamburger_active span:first-child {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:last-child {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader {
    padding: 7px 0;
  }
  .subheader .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subheader_phone {
    display: block;
    margin-top: 4px;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
  }
  .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .promo_header {
    line-height: 45px;
  }
  .mobile {
    padding: 25px 0 40px 0;
  }
  .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 15px 0;
  }
  .footer_menu {
    min-width: 300px;
  }
  .footer_app_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 575px) {
  nav {
    min-height: 30px;
  }
  .hamburger {
    width: 20px;
  }
  .hamburger span {
    margin-top: 4px;
    height: 1px;
  }
  .hamburger span:first-child {
    margin-top: 0;
  }
  .hamburger_active span {
    margin: -1px;
  }
  .hamburger_active span:first-child {
    -webkit-transform: translateY(1px) rotate(-45deg);
            transform: translateY(1px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:last-child {
    -webkit-transform: translateY(1px) rotate(45deg);
            transform: translateY(1px) rotate(45deg);
  }
  .subheader {
    height: 60px;
    top: 30px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_phone {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 9px;
  }
  .promo {
    min-height: 400px;
    padding: 130px 0 35px 0;
  }
  .promo_descr {
    display: none;
  }
  .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
    margin-top: 18px;
  }
  .promo_subheader {
    font-size: 20px;
    margin-top: 33px;
    line-height: 26px;
    padding: 0 10px;
  }
  .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
  }
  .menu {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    padding: 4px 0;
  }
  .menu_link {
    display: block;
    height: 25px;
  }
  .divider {
    width: 65vw;
    height: 3px;
  }
  .mobile {
    padding: 10px 0;
  }
  .mobile_item {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 254px;
  }
  .mobile_item_subtitle {
    font-size: 18px;
  }
  .mobile .subtitle {
    padding-top: 15px;
  }
  .reason {
    padding: 0 0 36px 0;
  }
  .reason_block {
    margin-top: 26px;
    margin-right: 0;
  }
  .reason_descr {
    width: 100%;
    margin-top: 19px;
  }
  .reason_round {
    width: 100px;
    height: 10px;
  }
  .reason_subtitle {
    font-size: 16px;
  }
  .choice {
    min-height: 100%;
    padding: 10px 0;
    background: #070716;
  }
  .choice .subtitle {
    padding-top: 15px;
  }
  .choice_auto {
    margin: 24px auto 0 auto;
  }
  .choice_descr {
    padding: 23px 0 31px 0;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
  }
  .require {
    margin: 0;
  }
  .require .title {
    margin-top: 16px;
  }
  .require_block {
    margin: 0;
    margin-top: 30px;
  }
  .require_descr {
    margin: 0;
  }
  .require_title {
    font-size: 16px;
  }
  .world {
    height: 360px;
    padding: 25px 0;
  }
  .world .subtitle {
    padding-top: 14px;
  }
  .world_content {
    height: 340px;
  }
  .world_link {
    font-size: 11px;
  }
  .title {
    font-size: 16px;
    line-height: 16px;
  }
  .footer_menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer_menu_main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer_menu_submenu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    white-space: nowrap;
  }
  .footer_social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer_app {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer_app_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */